---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import Button from "@/components/Button.astro";
import VafoImageCarousel from "@/components/carousel/VafoImageCarousel.web.astro";
import ProductDetails from "@/components/ProductDetails.web.astro";
import ProductLayout from "@/layouts/ProductLayout.astro";

const breadcrumbs = [
  { title: "Shop all", url: "/products" },
  { title: "Dry Dog Food", url: "/products/dry-food" },
  {
    title: "Health & Digestion Dry Food",
    url: "/products/dry-food/health-and-digestion",
  },
];
---

<ProductLayout>
  <div class="product-layout">
    <div class="product-layout__breadcrumbs">
      <Breadcrumbs items={breadcrumbs} />
    </div>
    <div class="product-layout__images">
      <VafoImageCarousel>
        {
          [
            "/image-packaging.png",
            "/image-ingredients.png",
            "/image-kibble.png",
            "/image-packaging-small.png",
          ].map((src) => <img src={src} alt="Product image" />)
        }
      </VafoImageCarousel>
    </div>
    <form class="product-layout__form">
      <ProductDetails
        product={{
          name: "Health & Digestion Dry Food",
          price: 8.49,
        }}
      />
      <div class="product-layout__add-to-cart">
        <Button theme="primary" class="product-layout__add-to-cart-button">
          Add to Cart
        </Button>
      </div>
    </form>
  </div>
</ProductLayout>

<style>
  .product-layout {
    --gutter: var(--spacing-0);
    --columns: repeat(6, 1fr);
  }
  .product-layout {
    display: grid;
    grid-template-columns: var(--columns);
    gap: var(--gutter);
  }

  .product-layout .product-layout__breadcrumbs,
  .product-layout .product-layout__images,
  .product-layout .product-layout__form,
  .product-layout .product-layout__add-to-cart {
    grid-column: 1 / -1;
  }
  .product-layout__form {
    display: static;
  }

  .product-layout__add-to-cart {
    position: sticky;
    bottom: 0;
    padding: var(--spacing-6);
    border-radius: var(--radius-medium) var(--radius-medium) 0 0;
    border-top: 1px solid var(--border-secondary);
    box-shadow: 0 -4px 12px var(--black-15);
    background-color: var(--surface-primary);
    z-index: 10;
  }
  .product-layout__add-to-cart-button {
    width: 100%;
  }

  @media (min-width: 768px) {
    .product-layout__form {
      padding-bottom: 0;
    }

    .product-layout__add-to-cart {
      position: static;
    }
  }
</style>
