---
import Button from "@/components/Button.astro";
import Layout from "@/layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h1>Typography and components</h1>
  <p>
    As follows is the various components, text and typography laid out in
    various use cases to test them outside their usual page.
  </p>
  <div>
    <h1>H1 Heading</h1>
    <h2>H2 Heading</h2>
    <h3>H3 Heading</h3>
    <h4>H4 Heading</h4>
    <h5>H5 Heading</h5>
    <h6>H6 Heading</h6>

    <p>This is a standard paragraph. Lorem ipsum dolor sit amet.</p>

    <p>
      <strong>This is a strong paragraph.</strong> Lorem ipsum dolor sit amet.
    </p>

    <p><em>This is an emphasized paragraph.</em> Lorem ipsum dolor sit amet.</p>

    <p>
      This is a paragraph with a
      <a href="#">standard link</a>.
    </p>
  </div>
  <div>
    <h2>Buttons</h2>

    <Button>Button text</Button>
  </div>
</Layout>
