---
import Logo from "@/assets/logo-full.png";
import { Image } from "astro:assets";

import Nav from "./Nav.astro";
import UserActions from "./UserActions.astro";
---

<header class="header">
  <div class="header__left">
    <Nav />
  </div>
  <div class="header__center">
    <Image
      src={Logo}
      alt="Pooch & Mutt logo, with a dogs face located centrally whose nose and mouth form the ampersand"
    />
  </div>
  <div class="header__right">
    <UserActions />
  </div>
</header>

<style>
  .header {
    padding: var(--spacing-4) var(--spacing-6);
    border-bottom: 1px solid var(--border-primary);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: var(--spacing-4);
  }

  .header__left {
    justify-self: start;
  }

  .header__right {
    display: flex;
    justify-self: end;
  }
</style>
