---
import Logo from "@/assets/logo-full.png";
import { Image } from "astro:assets";

import MobileNav from "./MobileNav.astro";
import MobileUserActions from "./MobileUserActions.astro";
---

<header>
  <div class="header-left">
    <MobileNav />
    <!-- <nav>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav> -->
  </div>
  <div class="header-center">
    <Image
      src={Logo}
      alt="Pooch & Mutt logo, with a dogs face located centrally whose nose and mouth form the ampersand"
    />
  </div>
  <div class="header-right"><MobileUserActions /></div>
</header>

<style>
  header {
    padding: var(--spacing-4) var(--spacing-6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-primary);
  }
  /* .header-left,
  .header-right {
    flex: 1;
  }
  .header-center {
    flex: 0;
  } */

  .header-right {
    text-align: right;
  }
</style>
