---
import Icon from "../Icon.astro";
---

<div class="user-actions">
  <Icon name="search" class="user-actions__search" />
  <Icon name="user" class="user-actions__user" />
  <Icon name="cart" class="user-actions__cart" />
</div>

<style>
  .user-actions {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-4);
  }
  .user-actions__search,
  .user-actions__user {
    display: none;
  }

  @media (min-width: 768px) {
    .user-actions__search,
    .user-actions__user {
      display: block;
    }
  }
</style>
