<vafo-image-carousel {...Astro.props}>
  <div class="vafo-carousel__container">
    <div class="vafo-carousel__images">
      <slot />
    </div>
    <div class="vafo-carousel__main-image">
      <!-- Selected image will be displayed here -->
    </div>
  </div>
</vafo-image-carousel>
<style>
  :host {
  }

  .vafo-carousel__container {
    --image-size: 375px;
    display: block;
    height: var(--image-size);
    width: 100%;
    padding-inline: calc(-1 * var(--spacing-6));
  }

  .vafo-carousel__images {
    display: flex;
    gap: var(--spacing-6);
    overflow: scroll;
    scroll-snap-type: x mandatory;
  }

  :global(.vafo-carousel__images img) {
    width: var(--image-size);
    height: var(--image-size);
    object-fit: cover;
    scroll-snap-align: center;
  }

  .vafo-carousel__main-image {
    display: none;
  }

  @media (min-width: 1360px) {
    .vafo-carousel__container {
      --image-size: 140px;
      display: grid;
      width: 100%;
      height: 100%;
      padding-inline: unset;
      grid-template-columns: var(--image-size) 1fr;
      gap: var(--spacing-6);
      grid-template-areas: "thumbs mainimage";
    }
    .vafo-carousel__images {
      display: flex;
      grid-area: thumbs;
      flex-direction: column;
      gap: var(--spacing-4);
      height: 100%;
      border-radius: var(--radius-medium);
      scroll-snap-type: none;
    }
    .vafo-carousel__main-image {
      display: block;
      grid-area: mainimage;
    }

    .vafo-carousel__main-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--radius-medium);
    }

    .vafo-carousel__container {
    }

    .vafo-carousel__images {
      display: flex;
      gap: var(--spacing-6);
      overflow: scroll;
      scroll-snap-type: x mandatory;
    }

    :global(.vafo-carousel__images img) {
      width: var(--image-size);
      height: var(--image-size);
      object-fit: cover;
      scroll-snap-align: center;
    }

    .vafo-carousel__main-image {
      display: block;
    }
  }
</style>

<script>
  export class VafoImageCarousel extends HTMLElement {
    container: HTMLDivElement;
    imagesContainer: HTMLDivElement;
    mainImageContainer: HTMLDivElement;

    constructor() {
      super();

      // Cache relevant elements
      this.container = this.querySelector(".vafo-carousel__container")!;
      this.imagesContainer = this.container.querySelector(
        ".vafo-carousel__images"
      )!;
      this.mainImageContainer = this.container.querySelector(
        ".vafo-carousel__main-image"
      )!;

      // Bind methods
      this.selectImage = this.selectImage.bind(this);
      this.handleImageClick = this.handleImageClick.bind(this);
    }

    connectedCallback() {
      Array.from(this.imagesContainer.children).forEach((image: Element) => {
        (image as HTMLImageElement).addEventListener(
          "click",
          this.handleImageClick
        );
      });

      const firstImage = this.imagesContainer.children[0] as HTMLImageElement;
      this.mainImageContainer.innerHTML = `<img src='${firstImage.src}' alt='Main image' />`;
    }

    disconnectedCallback() {
      Array.from(this.imagesContainer.children).forEach((image: Element) => {
        (image as HTMLImageElement).removeEventListener(
          "click",
          this.handleImageClick
        );
      });
    }

    handleImageClick(event: PointerEvent) {
      const target = event.currentTarget as HTMLImageElement;
      const index = Number(target.getAttribute("data-index"));
      const selectedImage = this.imagesContainer.children[
        index
      ] as HTMLImageElement;

      this.selectImage(selectedImage);
    }

    selectImage(selectedImage: HTMLImageElement) {
      this.mainImageContainer.innerHTML = `<img src='${selectedImage.src}' alt='Main image' />`;
    }
  }

  if (!customElements.get("vafo-image-carousel")) {
    customElements.define("vafo-image-carousel", VafoImageCarousel);
  }
</script>
